/* global styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

header,
main {
    max-width: 1140px;
    margin: auto;
}

section {
    margin-top: 7.5rem;
}

.noto {
    font-family: "Noto Serif", serif;
}

.section-tittle {
    color: black;
    font-size: 3.125rem;
    font-weight: 800;
    font-family: "Noto Serif", serif;
    ;
}

.h-span {
    color: #E95A08;
}

.p {
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* nav section */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    gap: 3rem;
}

.nav-links {
    display: flex;
    gap: 3rem;

}

/* Banner section */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 28.75rem;
}

.banner-left,
.banner-right {
    max-width: 50%;
}

.banner-left h1 {
    font-size: 4.0625rem;
    font-weight: 800;
    color: black;
}

.banner-right img {
    width: 100%;
}

/* Our plants section */

.our-plants-content {
    text-align: center;
    margin-bottom: 3.125rem;
}

.our-plants-shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5625rem;
}

.our-plants-shop-card-img {
    margin-bottom: 1.875rem;
}

.our-plants-shop-card-img img {
    width: 100%;
}

.our-plants-shop-card-content {
    text-align: center;
}

.our-plants-shop-card-content h4,
.our-plants-shop-card-content h5 {
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    line-height: 150%;
}

.our-plants-shop-card-content h5 {
    font-weight: 800;
    margin-bottom: 1.875rem;
}

.cart-btn {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: #E95A08;
    padding: 1.625rem 3.125rem;
    width: 100%;
    border: none;
}

/* Plants Lover Section */

#plants-lover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

.plants-lover-left img {
    width: 100%;
}

.plants-lover-left,
.plants-lover-right {
    width: 50%;
}

.plants-lover-right h2,
.plants-lover-right ul li {
    margin: 10px 0px;
}

.plants-lover-right h2 {
    text-align: start;
}

.plants-lover-right ul {
    margin-left: 1.5rem;
}

/* Join Section */

#join {
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.join-container {
    margin: 12.5rem auto;
    max-width: ;
}

.section-tittle,
.join-form {
    text-align: center;
}

#join .section-tittle {
    text-align: center;
    color: white;
}

.join-form input{
    display: inline-block;
}

.join-form input[type="email"] {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: #FFFFFF;
    padding: 0.5rem 1.25rem;
    width: 72%;
    max-width: 40.25rem;
}

.join-form input[type="email"]{
    
}

/* ok */

/* footer sectioin */

#footer {
    background-color: rgba(255, 255, 255, 0.5);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1120px;
    margin: auto;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;

}

.footer-nav li {
    list-style: none;
    margin: 1rem 0rem;
}

.footer-nav a {
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}

.footer-icons {
    display: flex;
    gap: 1.5rem;
}

.brand,
.footer-icons {
    width: 25%;
}

..footer-nav {
    width: 20%;
}

/* responsive media quary */

@media screen and (max-width:992px) {

    body{
        padding: 1rem;
    }

    /* banner section */
    #banner {
        flex-direction: column-reverse;
    }

    .banner-left,
    .banner-right {
        max-width: 100%;
    }

    /* our plants section */

    .our-plants-shop {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Plants Lover Section */
    #plants-lover {
        flex-direction: column;
    }

    .plants-lover-left,
    .plants-lover-right {
        width: 100%;
    }
    /* footer section */
    .footer-container{
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {

    /* nav section */
    .nav-links {
        display: none
    }

    /* our plants section */

    .our-plants-shop {
        grid-template-columns: repeat(2, 1fr);
    }
}